<!DOCTYPE html>
<html>
  <head>
    <title>Tclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div>日常のつぶやき</div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>Copyright © 2019 DIVE INC All RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
