<body>

  <h1>つぶやき一覧</h1>

  <%= link_to '新しくツイート', new_twiclone_path %>

  <table>
    <tr>
      <th>内容</th>
    </tr>

  <% @twiclones.each do |twiclone| %>
    <tr>
      <td class ="content"><%= twiclone.content %></td>
    </tr>
     <td><%= link_to 'ツイートを確認', twiclone_path(twiclone.id) %></td>
     <td><%= link_to "ツイートを編集する", edit_twiclone_path(twiclone.id) %></td>
     <td><%= link_to "ツイートを削除する", twiclone_path(twiclone.id), method: :delete %></td>
    <tr>

    </tr>
  <% end %>
  </table>
</body>
