<h1>つぶやき一覧</h1>

<table>
  <tr>
    <th>id</th>
    <th>内容</th>
  </tr>

<% @twiclones.each do |twiclone| %>
  <tr>
    <td><%= twiclone.id %></td>
    <td><%= twiclone.content %></td>
    <td><%= link_to 'ツイートを確認', twiclone_path(twiclone.id) %></td>
    <td><%= link_to "ツイートを編集する", edit_twiclone_path(twiclone.id) %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to '新しくツイート', new_twiclone_path %>
